---
name: Lint and Test

on: # yamllint disable-line rule:truthy
  pull_request:
  push:
    branches: ["main"]

permissions:
  contents: read

jobs:
  lint-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.11, 3.13] # Our min and max supported Python versions
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          python-version: ${{ matrix.python-version }}
      - name: Run filesystem-mutating tests
        run: uv run pytest -m filesystem # Avoid race conditions by running sequentially
      - name: Run remaining tests
        run: uv run pytest -m "not filesystem" -n auto
